@font-face {
  font-family: "Punch";
  src: url("./fonts/Kanit-ExtraLightItalic.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "Punch";
}

.container {
  max-width: 1000px;
  margin: 0 auto
}